body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.sidebar.active {
    transform: translateX(0);
}

.close-btn {
    font-size: 1.5rem;
    color: #1e40af; /* Mavi tema */
}

.alphabet-list a {
    color: #1e40af;
    text-decoration: none;
    font-weight: bold;
}

.alphabet-list a:hover {
    color: #3b82f6; /* Açık mavi hover efekti */
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
    .sidebar {
        display: none; /* Büyük ekranlarda sidebar gizli */
    }
}
